.App {
  /*text-align: center;*/
  background-color: #FFF9F3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
}

.App2 {
  padding-top: 14rem;
  background-color: #FFF9F3;
  min-height: 100vh;
  display: flex;
  justify-content: start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFF9F3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: 0E1F39;
}

.App-link {
  color: #FF31AD;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  color: #0E1F39;
  font-size: 72px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.balance{
  color: #FF31AD;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.header{
  margin-top: 20rem;
}

.subtitle{
  color: #0E1F39;
  font-size: 32px;
  font-family: 'Courier New', Courier, monospace;
}

.boton{
  color: #FF31AD;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 26px;
  border-color: #FF31AD;
  text-decoration: none;
}

.boton:hover {
  background-color: #FF31AD;
  color: #FFF9F3;
  border-color: #FF31AD;
}

.input{
  border: none; 
  background-color: transparent; 
  font-size: 26px;
}

.line{
  color: #FF31AD;
  border-top: 3.5px solid;
}

.line2{
  color: #FF31AD;
  border-top: 3.5px solid;
  width: 40rem;
}

.line3{
  color: #FF31AD;
  border-top: 3.5px solid;
  width: 17rem;
}

.naipe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 27rem;
  width: 20rem;
  border-color: #FF31AD;
  background-color: transparent; 
  border-radius: 10px;
}

.naipe:hover {
  background-color: #FF31AD;
  color: #FFF9F3;
  border-color: #FF31AD;
}

.symbol{
  font-size: 70px;
  text-decoration: none;
}

.subtitle2{
  display: flex;
  color: #0E1F39;
  font-size: 37px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
}

.subtitle3{
  display: flex;
  color: #0E1F39;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.centered-placeholder::placeholder {
  text-align: center;
}

.rotate1{
  transform: rotate(45deg);
}

.navbar{
  background-color: #FFF9F3;
}

.nav-item{
  font-size: 22px;
  margin-right: 5rem;
  color: #0E1F39;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}


.nav-item:hover {
  color: #FF31AD;
}


.boton-nav{
  color: #FF31AD;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 22px;
  margin-right: 5rem;
  border-color: #FF31AD;
  text-decoration: none;
}

.boton-nav:hover {
  background-color: #FF31AD;
  color: #FFF9F3;
  border-color: #FF31AD;
}

.user-symbol{
  font-size: 40px;
  text-decoration: none;
  margin-left: 5rem;
}

.rules{
  display: flex;
  margin-top: 16rem !important;
  margin-bottom: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: #FF31AD;
  background-color: transparent; 
  border-radius: 10px;
}

.home{
  margin-top: 12.5rem;
}


.login-section1{
  background-color: #FFF9F3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-section2{
  background-color: #0E1F39;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.naipe2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 27rem;
  width: 20rem;
  color: #FF31AD;
  border-color:#FF31AD;
  background-color:  #FFF9F3; 
  border-radius: 10px;
}

.log-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50rem;
  width: 40rem;
  
  background-color: transparent; 
  border-radius: 10px;
}

.boton2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 26px;
  border-color: #0E1F39;
  background-color:  #0E1F39;
  color: #FFF9F3;
  text-decoration: none;
}

.boton2:hover {
  background-color: #FF31AD;
  color: #FFF9F3;
  border-color: #FF31AD;
}

.boton3{
  color: #FF31AD;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-color: #FF31AD;
  text-decoration: none;
}

.boton3:hover {
  background-color: #FF31AD;
  color: #FFF9F3;
  border-color: #FF31AD;
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: #FF31AD;
  background-color:  #0e1f3948;
  border-radius: 10px;
}

.modal-content{
  background-color:  #FFF9F3;
  height: 26rem;
  width: 24rem;
  font-size: 22px;
}

.modal-body{
  background-color:  #FFF9F3;
  height: 26rem;
  width: 20rem;
  font-size: 22px;
}

.total{
  display: flex;
  flex-direction: column;
  height: 10rem;
  border-color: #FF31AD;
  background-color: transparent; 
  border-radius: 5px;
}

.tabla{
  --bs-table-bg: #FFF9F3 !important;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.cardTable{
  background-color:  #FFF9F3;
  border-color: #FF31AD;
  border-radius: 10px;
}

thead{
  font-size: 22px;
}

.giftCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 27rem;
  width: 20rem;
  border-color: #FF31AD;
  background-color: transparent; 
  border-radius: 10px;
}

.inputGiftCard{
  border: none; 
  background-color: transparent; 
  font-size: 20px;
  width: 17rem;
  font-weight:normal;
}